body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  color: #2e2e2e;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #1aa3c4;
  text-decoration: none;
}

a:hover {
  color: #c2581b;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}

.hero-section {
  background-image: -webkit-linear-gradient(315deg, rgba(30, 30, 33, .82) 1%, rgba(32, 32, 32, .14) 98%);
  background-image: linear-gradient(135deg, rgba(30, 30, 33, .82) 1%, rgba(32, 32, 32, .14) 98%);
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 20;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .33), transparent 99%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .33), transparent 99%);
}

.menu-link {
  display: inline-block;
  margin-right: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.menu-icon {
  display: inline-block;
  float: right;
  line-height: 13px;
}

.menu-button {
  display: block;
  margin-top: 0px;
  padding: 10px 8px 9px;
  float: right;
  border-radius: 2px;
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  color: hsla(0, 0%, 100%, .85);
}

.menu-button:hover {
  background-color: hsla(0, 0%, 100%, .1);
  color: #fff;
}

.menu-button.w--open {
  background-color: hsla(0, 0%, 100%, .25);
}

.long-text {
  margin-top: 7px;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
}

.hero-heading {
  margin-bottom: 14px;
  color: #fff;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
}

.hero-subheading {
  margin-bottom: 30px;
  font-family: Oxygen, sans-serif;
  color: hsla(0, 0%, 100%, .63);
  font-size: 18px;
  font-weight: 300;
}

.hero-content {
  position: absolute;
  margin-top: 10%;
  text-align: center;
}

.button {
  padding: 12px 31px;
  border-radius: 3px;
  background-color: #1aa3c4;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-weight: 400;
}

.button:hover {
  background-color: #e24037;
  color: #fff;
}

.button.margintop {
  margin-top: 30px;
  cursor: pointer;
}

.button.cursos {
  width: 100%;
  text-align: center;
}

.button.toright {
  float: right;
}

.main-section {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #f7f7f7;
}

.main-section.dark {
  padding-bottom: 0px;
  border-bottom: 1px none #000;
  background-color: #4d565d;
  background-image: -webkit-linear-gradient(270deg, rgba(35, 47, 56, .6), rgba(35, 47, 56, .5) 99%), url('../images/IMG_4984.jpg');
  background-image: linear-gradient(180deg, rgba(35, 47, 56, .6), rgba(35, 47, 56, .5) 99%), url('../images/IMG_4984.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.main-section.gray {
  background-color: #f8f8f8;
}

.main-section.bottom-padding {
  padding-top: 0px;
  padding-bottom: 89px;
}

.thumbnail-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
}

.thumbnail-wrapper:hover {
  box-shadow: rgba(0, 0, 0, .09) 0px 0px 0px 1px, rgba(0, 0, 0, .09) 0px 2px 23px 0px;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.blog-title {
  display: inline-block;
  margin-bottom: 6px;
  color: #101315;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.category-tag {
  position: absolute;
  left: 10px;
  top: 4px;
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  padding: 6px;
  border-radius: 2px;
  background-color: #5cc489;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.thumbnail-text {
  position: relative;
  overflow: hidden;
  height: 93px;
  padding: 13px;
  border-top: 1px solid #e5e5e5;
}

.thumbnail-date {
  display: inline-block;
  float: right;
  font-family: Oxygen, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 35px;
}

.thumbnail-date.lite {
  color: hsla(0, 0%, 100%, .7);
  font-size: 12px;
}

.author-img {
  position: static;
  right: 10px;
  bottom: 10px;
  width: 26px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: left;
  border-radius: 60px;
}

.thumb-details {
  padding: 6px 13px;
  border-top: 1px solid #efefef;
  background-color: #fcfcfc;
}

.preview-text {
  overflow: hidden;
  height: 40px;
  font-family: Oxygen, sans-serif;
  color: #7a7a7a;
  font-size: 13px;
  line-height: 19px;
}

.author-title {
  float: left;
  font-family: Oxygen, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 35px;
}

.author-title.lite {
  color: hsla(0, 0%, 100%, .7);
  font-size: 12px;
}

.container {
  display: block;
  width: 1100px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.section-heading {
  text-align: center;
}

.med-divider {
  display: block;
  width: 50%;
  height: 1px;
  margin: 16px auto;
  background-color: #dedede;
  list-style-type: lower-alpha;
}

.white {
  color: #efefef;
}

.form-wrapper {
  display: block;
  width: 500px;
  margin: 20px auto 80px;
}

.field {
  width: 75%;
  height: 50px;
  float: left;
  border: 1px none #000;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #4d565d;
  font-size: 15px;
}

.submit-button {
  width: 25%;
  height: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: hsla(0, 0%, 100%, .28);
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  font-family: Oxygen, sans-serif;
}

.submit-button:hover {
  background-color: #177cda;
}

.footer-section {
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid hsla(0, 0%, 100%, .12);
  background-color: rgba(35, 47, 56, .6);
}

.footer-link {
  display: inline-block;
  padding: 3px 0px 3px 20px;
  float: none;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  font-family: Oxygen, sans-serif;
  color: hsla(0, 0%, 100%, .6);
  font-size: 11px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #fff;
}

.thumbnail-image {
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #d6d6d6;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
}

.featured-wrapper:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #fff;
}

.featured-text {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 60px 20px 62px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .6) 46%, rgba(0, 0, 0, .76));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .6) 46%, rgba(0, 0, 0, .76));
}

.featured-title {
  display: block;
  margin-bottom: 4px;
  padding-right: 20px;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  text-align: left;
}

.category-tag-2 {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
  padding: 7px 9px 6px;
  border-radius: 2px;
  background-color: #5cc489;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.featured-description {
  padding-right: 44px;
  font-family: Oxygen, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}

.featured-details {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px 20px 15px;
}

.featured-image {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 3px;
  background-image: url('../images/3f4eb74a.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-date {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  color: #999;
  line-height: 25px;
}

.blog-category {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 6px;
  border-radius: 2px;
  color: #d25f7c;
  text-decoration: none;
  text-transform: uppercase;
}

.author-link {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.author-link:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.author-wrapper {
  display: block;
  width: 70%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.author-name {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #353535;
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.author-name:hover {
  color: #243039;
}

.inner-hero {
  position: relative;
  height: 300px;
  padding-top: 125px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/IMG_4855.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/IMG_4855.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  text-align: center;
}

.inner-hero.about-page {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/906049_699248196863361_4851634092141760156_o.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/906049_699248196863361_4851634092141760156_o.jpg');
  background-position: 0px 0px, 50% -133px;
  background-size: auto, cover;
}

.inner-hero.category {
  background-image: url('../images/2016-11-28-PHOTO-00000404.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.author-picture {
  position: relative;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 17px;
  float: left;
  border-radius: 6px;
}

.author-name-main {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.authorbio p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 29px;
}

.author-links {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  padding: 1px 0px;
  opacity: 0.7;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.author-links:hover {
  opacity: 1;
}

.social-wrapper {
  margin-bottom: 8px;
}

.hero-header {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

.blog-thumbnail {
  margin-bottom: 13px;
  padding: 6px 12px;
}

.footer-logo {
  text-decoration: none;
}

.hero-blog {
  height: 300px;
  background-image: url('../images/2016-11-28-PHOTO-00000404.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.smallest-divider {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: #dedede;
}

.author-bio {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.author-bio p {
  font-size: 13px;
  line-height: 21px;
}

.social-link {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.82;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 0.45;
}

.blog-post {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.featuredthumbnail {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navmenu {
  position: static;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(35, 47, 56, .22);
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.view-all {
  margin-bottom: 13px;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: hsla(0, 0%, 100%, .6);
  text-decoration: none;
}

.full-divide {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #dedede;
}

.author-photo {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 100%;
}

.social-icon {
  margin-top: 0px;
  margin-bottom: 0px;
}

.category-section {
  position: relative;
  z-index: 3;
  display: none;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

.category-link {
  display: block;
  margin-right: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #768088;
  text-align: center;
  text-decoration: none;
}

.category-link:hover {
  background-color: #f0f0f0;
  color: #243039;
}

.dark-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  height: 100%;
  background-color: #000;
  opacity: 0.23;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  text-shadow: none;
}

.footer-links {
  text-align: right;
}

.category-block {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.category-thumbnail {
  position: relative;
  overflow: hidden;
  height: 140px;
  padding: 57px 30px 30px;
  border-radius: 3px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .39);
}

.category-name {
  position: relative;
  z-index: 10;
}

.hero-wrapper {
  position: relative;
  z-index: 10;
}

.field-label {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
}

.contact-field {
  height: 50px;
  padding-bottom: 9px;
  border-radius: 2px;
  font-family: Oxygen, sans-serif;
}

.contact-field:focus {
  border: 1px solid #5cc489;
  color: #243039;
}

.contact-field.message {
  height: 150px;
}

.social-text {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 26px;
  background-image: url('../images/social-18.svg');
  background-position: 0px 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #243039;
  font-size: 14px;
  text-decoration: none;
}

.social-text.facebook {
  background-image: url('../images/social-03.svg');
  background-size: 15px;
}

.social-text.facebook:hover {
  color: #1aa3c4;
}

.social-text.instagram {
  background-image: url('../images/social-07.svg');
  background-size: 15px;
}

.social-text.instagram:hover {
  color: #1aa3c4;
}

.success-message {
  padding-top: 27px;
  border-bottom: 4px solid #1aa3c4;
  border-radius: 3px;
  background-color: transparent;
  color: #1aa3c4;
}

.success-text {
  font-size: 16px;
}

.section-title {
  margin-top: 60px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 2px;
}

.blog-post-title {
  margin-top: 0px;
  margin-bottom: 7px;
}

.video__container {
  width: 60%;
  text-align: center;
}

.video-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.playbutton {
  width: 60px;
  height: 60px;
}

.logo_image {
  width: 80px;
}

.header--title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.header--p {
  margin-bottom: 20px;
}

.quienessomos--p {
  display: block;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat light', sans-serif;
  color: #8b8c92;
  font-weight: 300;
}

.quienessomos__section {
  padding-bottom: 40px;
  background-color: #fff;
}

.quienessomos--span {
  font-family: Montserrat, sans-serif;
}

.container__cursos {
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1aa3c4;
  background-image: url('../images/2016-11-28-PHOTO-00000418.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cursos--h1 {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #000;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.curso-date {
  margin-top: 2px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #177cda;
  font-family: 'Montserrat thin', sans-serif;
  font-size: 14px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1%;
  padding: 1% 2% 1% 1%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 #e4e9ec;
}

.item--image {
  width: 100%;
}

.item__image {
  overflow: hidden;
  width: 300px;
  height: 100%;
  min-width: 300px;
  margin-right: 30px;
  background-image: url('../images/IMG_5204.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.item__image.curso1 {
  background-image: url('../images/2016-11-28-PHOTO-00000420.jpg');
}

.item__image.curso3 {
  background-image: url('../images/image1.JPG');
  background-size: cover;
}

.item__image.curso4 {
  background-image: url('../images/photo2.jpg');
}

.item--p {
  font-family: 'Montserrat light', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.item--h {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
}

.hide {
  display: none;
}

.item__container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 21;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(2, 2, 2, .8);
}

.modal-container {
  position: relative;
  width: 60%;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
}

.form-cursos {
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.error {
  background-color: #fff;
  color: #ff0052;
}

.proximo-curso {
  padding: 4px;
  background-color: #1aa3c4;
  color: #fff;
}

.proximo-curso.enhome {
  width: 130px;
  text-transform: uppercase;
}

.next-card {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #e4e9ec;
}

.next-card--image {
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-image: url('../images/2016-11-28-PHOTO-00000420.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.next-card--container {
  display: block;
  width: 96%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.ver-mas {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  background-color: transparent;
  color: #243039;
  text-transform: uppercase;
}

.ver-mas:hover {
  color: #e01313;
}

html.w-mod-js *[data-ix="navbar"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

html.w-mod-js *[data-ix="hero-text-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="hero-button"] {
  opacity: 0;
  -webkit-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
}

html.w-mod-js *[data-ix="view-more"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

@media (max-width: 991px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-section {
    padding: 40px 10px;
  }
  .main-section.dark {
    padding-right: 0px;
    padding-left: 0px;
  }
  .preview-text {
    overflow: hidden;
    max-height: 40px;
  }
  .section-heading {
    display: block;
    text-align: center;
  }
  .footer-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .featured-text {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 70px;
  }
  .featured-title {
    font-size: 23px;
  }
  .category-tag-2 {
    z-index: 10;
  }
  .featured-description {
    overflow: hidden;
    max-height: 55px;
    padding-right: 0px;
    font-size: 17px;
    line-height: 23px;
  }
  .blog-thumbnail {
    width: 33.33%;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .featuredthumbnail {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .category-block {
    padding: 10px 0px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 162px;
  }
  .main-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-section.dark {
    padding-right: 0px;
    padding-left: 0px;
  }
  .featured-text {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 0px;
  }
  .featured-title {
    font-size: 27px;
  }
  .featured-description {
    font-size: 18px;
  }
  .inner-hero.about-page {
    height: 200px;
  }
  .author-picture {
    width: 210px;
    margin-right: 13px;
    margin-bottom: 6px;
  }
  .authorbio {
    font-size: 14px;
    line-height: 17px;
  }
  .hero-header {
    font-size: 30px;
  }
  .blog-thumbnail {
    width: 50%;
  }
  .featuredthumbnail {
    padding: 10px 0px;
  }
  .navmenu {
    width: 100%;
  }
  .category-wrapper {
    display: inline-block;
    width: 33.33%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .about-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .success-message {
    padding-top: 28px;
    background-color: #5cc489;
    color: #fff;
    font-size: 18px;
  }
  .success-text {
    font-size: 18px;
  }
  .quienessomos--p {
    max-width: 80%;
  }
  .list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .item__image {
    width: 100%;
    height: 150px;
    min-width: 100%;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .hero-section {
    overflow: hidden;
    height: 430px;
    padding-top: 0px;
  }
  .navbar {
    padding: 2px 15px 7px;
  }
  .menu-button {
    margin-top: 13px;
  }
  .long-text {
    margin-top: 0px;
  }
  .hero-subheading {
    line-height: 27px;
  }
  .main-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-section.bottom-padding {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .author-img {
    display: block;
  }
  .section-heading {
    display: block;
  }
  .med-divider {
    width: 60%;
  }
  .form-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .field {
    width: 100%;
    margin-bottom: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .submit-button {
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .footer-section {
    position: relative;
  }
  .footer-link {
    display: block;
    padding-left: 0px;
    float: none;
    text-align: center;
  }
  .footer-link.hide {
    display: none;
  }
  .featured-text {
    padding: 0px 15px 55px;
  }
  .featured-title {
    font-size: 18px;
  }
  .category-tag-2 {
    left: 15px;
    top: 15px;
    padding: 6px;
  }
  .featured-description {
    display: none;
  }
  .featured-details {
    padding-right: 15px;
    padding-left: 15px;
  }
  .inner-hero {
    height: 330px;
  }
  .author-picture {
    display: block;
    width: 130px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
    float: none;
    border-radius: 110px;
    text-align: center;
  }
  .author-name-main {
    margin-top: 2px;
    font-size: 23px;
    line-height: 34px;
    text-align: center;
  }
  .authorbio {
    font-size: 14px;
    text-align: center;
  }
  .social-wrapper {
    text-align: center;
  }
  .hero-header {
    font-size: 40px;
  }
  .blog-thumbnail {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .footer-logo {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .footer-logo.w--current {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .blog-post {
    width: 95%;
  }
  .featuredthumbnail {
    padding: 5px 0px;
  }
  .navmenu {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    background-color: rgba(35, 47, 56, .72);
  }
  .nav-link {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    opacity: 0.7;
    font-size: 17px;
    text-align: center;
  }
  .nav-link.w--current {
    opacity: 1;
    color: #fff;
  }
  .logo {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    float: left;
    text-align: center;
  }
  .nav-menu {
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 60px;
    background-color: rgba(35, 47, 56, .92);
  }
  .close-x {
    position: absolute;
    left: 35px;
    top: 21px;
    right: 35px;
    display: block;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 27px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .success-text {
    line-height: 27px;
  }
  .section-title {
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .video__container {
    width: 96%;
  }
  .header--title {
    font-size: 21px;
    line-height: 30px;
  }
  .quienessomos--p {
    max-width: 90%;
  }
  .quienessomos__section {
    margin-top: 20px;
    padding-top: 0px;
  }
  .container__cursos {
    padding-bottom: 30px;
    background-color: #fff;
  }
  .next-card {
    width: 100%;
    box-shadow: none;
  }
  .next-card--image {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@font-face {
  font-family: 'Montserrat thin';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat black';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}